LOCATE COMP "clk_48mhz" SITE "C8";
IOBUF PORT "clk_48mhz" IO_TYPE=LVCMOS33;

LOCATE COMP "usr_btn" SITE "F12";
IOBUF PORT "usr_btn" IO_TYPE=LVCMOS18;

LOCATE COMP "led_r" SITE "T6";
LOCATE COMP "led_g" SITE "R6";
LOCATE COMP "led_b" SITE "R8";
IOBUF PORT "led_r" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=16;
IOBUF PORT "led_g" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=16;
IOBUF PORT "led_b" IO_TYPE=LVCMOS33 SLEWRATE=SLOW DRIVE=16;

LOCATE COMP "flash_cs_n" SITE "N8";
LOCATE COMP "flash_miso" SITE "T7";
LOCATE COMP "flash_mosi" SITE "T8";
LOCATE COMP "flash_wp" SITE "M7";
LOCATE COMP "flash_hold" SITE "N7";
IOBUF PORT "flash_cs_n" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_wp" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_hold" IO_TYPE=LVCMOS33;

LOCATE COMP "sdcard_dat0" SITE "C9";
LOCATE COMP "sdcard_dat1" SITE "E9";
LOCATE COMP "sdcard_dat2" SITE "C11";
LOCATE COMP "sdcard_dat3_cd" SITE "B11";
LOCATE COMP "sdcard_clk" SITE "A10";
LOCATE COMP "sdcard_cmd" SITE "E11";
LOCATE COMP "sdcard_det" SITE "A11";
IOBUF PORT "sdcard_dat0" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=UP;
IOBUF PORT "sdcard_dat1" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdcard_dat2" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdcard_dat3_cd" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=UP;
IOBUF PORT "sdcard_clk" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sdcard_cmd" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=UP;
IOBUF PORT "sdcard_det" IO_TYPE=LVCMOS33 SLEWRATE=SLOW PULLMODE=UP;

LOCATE COMP "ram_dq[0]" SITE "G15";
LOCATE COMP "ram_dq[1]" SITE "B16";
LOCATE COMP "ram_dq[2]" SITE "C15";
LOCATE COMP "ram_dq[3]" SITE "D16";
LOCATE COMP "ram_dq[4]" SITE "C16";
LOCATE COMP "ram_dq[5]" SITE "F15";
LOCATE COMP "ram_dq[6]" SITE "F16";
LOCATE COMP "ram_dq[7]" SITE "E15";
LOCATE COMP "ram_rwds" SITE "F14";
LOCATE COMP "ram_reset_n" SITE "J13";
LOCATE COMP "ram_cs_n" SITE "K14";
LOCATE COMP "ram_ck" SITE "J16";
# LOCATE COMP "ram_ck_n" SITE "J15";
LOCATE COMP "ram_psc" SITE "G16";
# LOCATE COMP "ram_psc_n" SITE "H15";
IOBUF PORT "ram_dq[0]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[1]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[2]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[3]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[4]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[5]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[6]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_dq[7]" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_rwds" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_reset_n" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_cs_n" IO_TYPE=LVCMOS18 SLEWRATE=FAST;
IOBUF PORT "ram_ck" IO_TYPE=SSTL18D_II SLEWRATE=FAST;
# IOBUF PORT "ram_ck_n" IO_TYPE=SSTL18D_II SLEWRATE=FAST;
IOBUF PORT "ram_psc" IO_TYPE=SSTL18D_II SLEWRATE=FAST;
# IOBUF PORT "ram_psc_n" IO_TYPE=SSTL18D_II SLEWRATE=FAST;

LOCATE COMP "uart_tx" SITE "D8";
LOCATE COMP "uart_rx" SITE "E8";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "d_enb" SITE "T3";
LOCATE COMP "d_dir" SITE "T2";
LOCATE COMP "a_enb_l" SITE "L1";
LOCATE COMP "a_enb_h" SITE "E2";
LOCATE COMP "a_dir_l" SITE "L5";
LOCATE COMP "a_dir_h" SITE "E1";
IOBUF PORT "d_enb" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "d_dir" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "a_enb_l" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "a_enb_h" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "a_dir_l" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "a_dir_h" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;

LOCATE COMP "low_a[0]" SITE "M6";
LOCATE COMP "low_a[1]" SITE "R4";
LOCATE COMP "low_a[2]" SITE "P4";
LOCATE COMP "low_a[3]" SITE "N4";
LOCATE COMP "low_a[4]" SITE "N5";
LOCATE COMP "low_a[5]" SITE "M5";
LOCATE COMP "low_a[6]" SITE "M3";
LOCATE COMP "low_a[7]" SITE "L4";
LOCATE COMP "low_a[8]" SITE "H5";
LOCATE COMP "low_a[9]" SITE "G4";
LOCATE COMP "low_a[10]" SITE "J1";
LOCATE COMP "low_a[11]" SITE "J2";
LOCATE COMP "low_a[12]" SITE "G1";
LOCATE COMP "low_a[13]" SITE "G2";
LOCATE COMP "low_a[14]" SITE "F1";
LOCATE COMP "low_a[15]" SITE "F2";
IOBUF PORT "low_a[0]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[1]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[2]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[3]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[4]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[5]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[6]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[7]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[8]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[9]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[10]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[11]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[12]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[13]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[14]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_a[15]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
LOCATE COMP "low_d[0]" SITE "M1";
LOCATE COMP "low_d[1]" SITE "N3";
LOCATE COMP "low_d[2]" SITE "P2";
LOCATE COMP "low_d[3]" SITE "N1";
LOCATE COMP "low_d[4]" SITE "R3";
LOCATE COMP "low_d[5]" SITE "P1";
LOCATE COMP "low_d[6]" SITE "R2";
LOCATE COMP "low_d[7]" SITE "R1";
IOBUF PORT "low_d[0]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[1]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[2]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[3]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[4]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[5]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[6]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "low_d[7]" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
LOCATE COMP "phi2" SITE "C2";
LOCATE COMP "nmi_out" SITE "G5";
LOCATE COMP "reset_in" SITE "B1";
LOCATE COMP "reset_out" SITE "C1";
LOCATE COMP "romh" SITE "C3";
LOCATE COMP "dma_out" SITE "M2";
LOCATE COMP "ba" SITE "K2";
LOCATE COMP "roml" SITE "L2";
LOCATE COMP "io2" SITE "K1";
LOCATE COMP "exrom" SITE "D1";
LOCATE COMP "game" SITE "D3";
LOCATE COMP "io1" SITE "F5";
LOCATE COMP "dotclk" SITE "B2";
LOCATE COMP "rw_in" SITE "E3";
LOCATE COMP "rw_out" SITE "F3";
LOCATE COMP "irq_out" SITE "F4";
IOBUF PORT "phi2" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "nmi_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "reset_in" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "reset_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "romh" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "dma_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "ba" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "roml" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "io2" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "exrom" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "game" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "io1" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "dotclk" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "rw_in" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "rw_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
IOBUF PORT "irq_out" IO_TYPE=LVCMOS33 SLEWRATE=SLOW;
